<h3>Listado de presupuestos</h3>
<div class="d-flex mt-3">
  <input [(ngModel)]="searchingWord" type="text" placeholder="Buscar presupuesto por nombre"
    class="form-control mb-2 " />
  <button class="btn btn-primary mb-2 ms-2" (clic)="refresh()">Reiniciar</button>
</div>
<!-- ********************************** -->
<!-- *Ejercicio 7: Botones de filtrado -->
<!-- ********************************** -->
<div class="d-flex flex-column ">
  <button class="btn btn-primary mb-2" (click)="sortByName()">Ordenar por nombre</button>
  <button class="btn btn-primary mb-2" (click)="sortByCustomer()">Ordenar por cliente</button>
  <button class="btn btn-primary mb-2" (click)="sortByDate()">Ordenar por fecha</button>
</div>
<!-- ********************************************* -->
<!-- *Ejercicio 6: Mostrar listado de presupuestos -->
<!-- ********************************************* -->
<div class="budget-list">
  <ul class="list-unstyled">
    <li *ngFor="let budget of budgets" class="border border-primary rounded mb-2 px-4 py-3">
      <i>Nombre Presupuesto: </i> <b>{{ budget.budgetName }}</b>
      <br>
      <i>Cliente: </i> <b>{{ budget.customer}}</b>
      <br>
      <i>Precio: </i> <b>{{ budget.price }}€</b>
      <br>
      <i>Fecha: </i>
      <b>{{ budget.date | date : "dd/MM/yyyy HH:mm:ss" }}</b>
    </li>
  </ul>
</div>
