<ng-template #modal1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Información número de páginas</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    Indicar el número de páginas en este recuadro. <br> Introducir como mínimo 1 página.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close()">Cerrar</button>
  </div>
</ng-template>

<ng-template #modal2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Información número de idiomas</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    Indicar el número de páginas en este recuadro. <br> Introducir como mínimo 1 idioma
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close()">Cerrar</button>
  </div>
</ng-template>
