 <div class="row">
   <form [formGroup]="budgetForm" class="col col-md-6">
     <h3 class="text-center my-5">{{title | uppercase}} </h3>
     <div class="form-check">
       <input type="checkbox" class="form-check-input" value="" id="checkWeb" formControlName="webChecked"
         (change)="calculateBudget()">
       <label for="checkWeb" class="form-check-label">Hacer una página web (500€)</label>
     </div>
     <app-panel *ngIf="budgetForm?.get('webChecked')?.value" (addPanelPrice)="receivePanelPrice($event)"></app-panel>
     <p>Dato recibido del hijo {{webPanelPrice}} €</p>
     <div class="form-check">
       <input type="checkbox" class="form-check-input" value="" id="checkSEO" formControlName="seoChecked"
         (change)="calculateBudget()">
       <label for="checkSEO" class="form-check-label">Una consultoria SEO (300€)</label>
     </div>
     <div class="form-check">
       <input type="checkbox" class="form-check-input" value="" id="checkGoogleAds" formControlName="googleAdsChecked"
         (change)="calculateBudget()">
       <label for="checkGoogleAds" class="form-check-label">Una campaña de Google Ads (200€)</label>
     </div>
     <p class=" mt-3">Total presupuesto: {{totalBudgetPrice}}€</p>
   </form>
   <!-- Mostrar en pantalla los valores del formulario en formato JSON -->
   <div class="mb-3 text-danger"> {{budgetForm.value | json}}</div>
