<div class="container-panel m-3 p-2 border rounded-2 border-3 border-primary text-center bg-light">
  <form [formGroup]="webPanelForm" class="py-3">

    <div class="form-group d-flex flex-wrap justify-content-center align-items-center ">
      <label for="numPages" class="col-form-label me-2 ">Número de páginas: </label>
      <div class="d-flex justify-content-center align-items-center group-buttons-input fw-bolder">
        <button type="button" class="border-0 bg-primary rounded-start fs-3" (click)="reduceNumPages()">
          -
        </button>
        <input type="number" class="text-center  border-0 border-top border-bottom border-primary"
          placeholder="Introduce número > 0" aria-label="Escribe el número de páginas" formControlName="numPages"
          (change)="panelPrice()">
        <button type="button" class="border-0 bg-primary rounded-end fs-3" (click)="increaseNumPages()"> +
        </button>
        <!-- info pages button -->
        <button type="button" (click)="openWindow1()" class="p-0 m-0 border-0 align-bottom bg-white rounded ms-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="gray" class="bi bi-info-circle-fill"
            viewBox="0 0 16 16">
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z">
            </path>
          </svg>
        </button>
        <app-modal></app-modal>
      </div>

    </div>
    <div class="text-danger mb-3" *ngIf="webPanelForm.get('numPages')?.hasError('minValue')">
      <p>El valor ha de ser mayor o igual a 1.</p>
    </div>

    <div class="form-group d-flex flex-wrap justify-content-center align-items-center">
      <label for="numLanguages" class="col-form-label me-2">Número de idiomas: </label>
      <div class="d-flex justify-content-center align-items-center group-buttons-input">

        <button type="button" class="border-0 bg-primary rounded-start fs-3" (click)="reduceNumLanguages()"> - </button>

        <input type="number" class="text-center border-0 border-top border-bottom border-primary "
          placeholder=" Introduce número> 0" aria-label="Escribe el número de idiomas" formControlName="numLanguages"
          (change)="panelPrice()">

        <button type="button" class="border-0 bg-primary rounded-end fs-3" (click)="increaseNumLanguages()"> + </button>

      </div>
      <!-- info languages button -->
      <button type="button" (click)="openWindow2()" class="p-0 m-0 border-0 align-bottom bg-white rounded ms-2">

        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="gray" class="bi bi-info-circle-fill"
          viewBox="0 0 16 16">
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z">
          </path>
        </svg>
      </button>
      <app-modal></app-modal>
    </div>
    <div class="text-danger" *ngIf="webPanelForm.get('numLanguages')?.hasError('minValue')">
      <p>El valor ha de ser mayor o igual a 1.</p>
    </div>
  </form>

</div>
<!-- Mostrar en pantalla los valores del formulario en formato JSON -->
<pre class="mb-3 text-primary"> {{webPanelForm.value | json}}</pre>
